@use "./properties/index.scss" as properties;
@use "./schema/index.scss" as schema;
@use "./editor/index.scss" as editor;
@mixin layout {
	application {
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
		h1, h2, h3, h4, h5, h6 {
			// margin: 0; padding: 0;
		}
		@include editor.layout;
		& > * {
			display: flex;
			flex-direction: column;
		}
		& > main {
			flex-grow: 1;
			& > {
				@include properties.layout;
				@include schema.layout;
			}
		}
	}
}
@mixin style {
	application {
		@include editor.style;
		& > main {
			& > {
				@include properties.style;
				@include schema.style;
			}
		}
	}
}
