@mixin layout {
	schema {
		& > header {
			display: flex;
			flex-direction: row;
			align-items: center;
			// line-height: 1.5em;
			& > input {
				margin: 0 0.75em;
				width: 1.5em;
				height: 1.5em;
			}
		}
	}
}
@mixin style {
	schema {
		& > header {
			& > input {
				// --webkit-appearance: none;
				outline: 1px solid black;
				background-color: white;
				accent-color: black;
			}
		}
	}
}