@mixin layout {
	editor {
		margin: 0.75em;
		padding: 0.75em;
		// display: inline-block;
		// flex-direction: column;
		// min-width: 1.5em;
		// min-height: 1.5em;

	}
}
@mixin style {
	editor {
		font-family: 'Courier New', monospace;
		background-color: salmon;
		color: lightgoldenrodyellow; 
	}
}