@mixin layout {
	properties {
		display: flex;
		flex-direction: column;
		& > * {
			display: flex;
			flex-direction: column;
		}
		& > h2 {
			margin: 0.75em 0;
		}
		& > capture {}
	}
}
@mixin style {
	properties {
		& > capture {}
	}
}